[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
numpy = "*"
pandas = "*"
plotly = "*"
jupyter-contrib-nbextensions = "*"
scipy = "*"
nbmerge = "*"
nbconvert = "*"
notebook = "==6.1.0"

[dev-packages]

[requires]
python_version = "3.10"
